@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-sm-3 text-left">
            <h5><b>JOBS IN</b></h5>
            <p>Main Western Province In Sri Lanka</p>
        </div>
        <div class="col-sm-6 rounded" style="background-color:#eceff4">
            <div class="container mt-3 mb-3">
                <div class="row pl-4 pt-4 pr-4" style="background-color:white">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <h5><b>WHAT</b></h5>
                            <label for="exampleFormControlInput1">Job name, Company Name, Keyword Search</label>
                            <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="What Need..." style="border:none;background-color:#eceff4">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <h5><b>CATEGORY</b></h5>
                            <label for="exampleFormControlInput1">Select Job Category</label>
                            <select class="form-control form-control-lg" style="border:none;background-color:#eceff4">
                                <option>Small select</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row pr-4 pl-4 pb-4">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4 p-3 text-center rounded-bottom" style="background-color:white">
                        <button type="button" class="btn btn-primary btn-lg">FIND JOBS</button>
                    </div>
                    <div class="col-sm-4 text-center mt-3">
                        <button type="button" class="btn btn-light btn-lg"><i class="fa fa-list" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-light btn-lg"><i class="fa fa-image"></i></button>
                    </div>
                </div>

                <div class="row p-3 rounded" style="background-color:white">
                    <div class="col-sm-2">
                        <img src="~/Image/comapnypage/email-image.jpg" style="width:100%;height:80px;object-fit:cover" />
                    </div>
                    <div class="col-sm-8">
                        <h5><b>JOB TITLE</b></h5>
                        <p>(biology) A scientific documentation of a specimen intended to reveal a new species by technically explaining its characteristics  ...</p>
                        <p style="color:#778594">3 Days Ago &nbsp;| <a href="#">VIEW DETAILS</a> </p>
                    </div>
                    <div class="col-sm-2">
                        <p style="color:#778594">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                            &nbsp; Full time
                        </p>
                        <p style="color:#778594">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            &nbsp; Part time
                        </p>

                    </div>
                </div>

                <div class="row" >
                    <div class="col-sm-4 p-3 rounded" style="background-color:white">

                            <img src="~/Image/comapnypage/email-image.jpg" style="width:100%;height:140px;object-fit:cover" />
                        <p><b>JOB TITLE</b></p>
                        <p style="color:#778594">3 Days Ago &nbsp;| <a href="#">VIEW DETAILS</a> </p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>