<div class="container">
    <div class="row">
        <div class="col-sm-12 p-2 rounded text-white mb-3" style="background-color:dodgerblue">
            <h5> Cv Accept Email Address</h5>
        </div>
        <hr />
        @*<div class="col-sm-12 d-flex justify-content-center" style="margin:auto">
            <div class="loader loadersdiv"></div>
        </div>*@
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleFormControlInput1">Comapny Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Company Name">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleFormControlInput1">Contact No.</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Contact No.">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleFormControlInput1">Upload Company Logo</label>
                <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="Company Logo">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleFormControlInput1">Company WebSite Link</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Web Link">
            </div>
        </div>
    </div>
</div>
