@using ITMVC.Models.EmailVM
@model EmailHandleViewModel

<div class="container">
    <div class="row p-3 rounded mb-3 bk-color-white">
        <div class="col-sm-12 ">
            <img src="~/Image/comapnypage/email-image.jpg" class="common-image"/>
        </div>
        <div class="col-sm-12 mt-3 color-gray">
            <h5><b> CV ACCEPT EMAIL ADDRESS</b></h5>
            <hr />
        </div>

        <div class="col-sm-12 d-flex justify-content-center"  style="margin:auto">
            <div class="loader loadersdiv" id="emailLoader"></div>
        </div>

        <div class="col-sm-12 text-right mb-2">
            <button type="button" class="btn btn-primary" @*data-toggle="modal"*@ onclick="LoadPopup()" @*data-target="#exampleModal"*@>ADD NEW</button>
        </div>

        <div class="col-sm-12">
            @if (Model.Emails != null && Model.Emails.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.Emails)
                        {
                            <tr>
                                <th scope="row">@a.AcceptEmailId</th>
                                <td>@a.EmailAddress</td>
                                <td>
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <button type="button" class="btn btn-success" onclick="LoadEditPopup(@a.AcceptEmailId)">EDIT</button>
                                        <button type="button" class="btn btn-danger" onclick="warningbeforeDelete(@a.AcceptEmailId)">DELETE</button>
                                    </div>
                                </td>

                            </tr>
                        }


                    </tbody>
                </table>
            }
            else
            {
                <p>Email Not Available</p>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Email Handle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="emailpopupmodelDIV">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  onclick="SaveEmail()">Save changes</button>
                </div>
            </div>
        </div>
    
</div>
